body{
    background-color: #a7cff0;
    margin: 0;
}

header{
    padding: 200px;
    text-align: center;
}

h1{
    color: #64011f;
    font-size: 4em;
}

h2{
    color: #bb124a;
    font-size: 3em;
}

h3{
    color: #df547e;
    font-size: 2em;
}